/*
* SVGソーシャルアイコン
*/
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  padding: 5px 5px 2px 5px;
  vertical-align: text-bottom;
}

.social-media-list li a, .pagination li a {
  display: block;
  padding: 7.5px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px 0px #999;
}

/*
* テキストの陰影（ヘッダーとフッター）
*/
.site-header {
  text-shadow: 4px 3px 5px #666;
}

.footer-content {
  color: #666;
  text-shadow: 1px 1px 2px #666;
  text-align: right;
}

/*
* ブログ記事タイトルのリンク
*/
.post-link {
  color: #444;
}
.post-link:visited {
  color: #777;
}